body {
    font-family: 'Noto Serif JP', serif;
    line-height: 1.75em;
}

.title p{
    margin: 10px 0 5px 10px;
}

.blackline{
    border: 1px solid #303030;
}

.access-map{
    display: flex;
    text-align: center;
    align-items: center;
}

.access-map img{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

/* メディアクエリ: レスポンシブデザイン用 */
@media (max-width: 768px) {

    /* ハンバーガーボタンが表示される場合 */
    .menu-btn {
        display: flex;
    }

    /* ハンバーガーボタンが表示される場合は、メニューを非表示にする */
    .menu {
        display: none;
    }
}

/* メディアクエリで指定した幅よりも大きい場合（ハンバーガーボタンが非表示の場合） */
@media (min-width: 769px) {

    /* ハンバーガーボタンを非表示にする */
    .menu-btn {
        display: none;
    }

    /* メニューを表示 */
    .menu {
        display: block;
    }
}